
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/styles.css">
<title>Used Car Dealership</title>
</head>
<body>

<header class="navbar">
  <div class="container nav-content">
<div class="logo">
  <a href="/">Premium Used Cars by Kwota</a>
</div>

<nav>
  <a href="/">Home</a>
  <a href="/inventory">Inventory</a>
  <a href="/auth/login">Admin</a>
</nav>

  </div>
</header>


<div class="container">
<h2>Featured Vehicle</h2>

<% if(featured){ %>
<div class="card">
<img src="<%= featured.image %>" style="width:100%;max-height:400px;object-fit:cover">
<h3><%= featured.year %> <%= featured.make %> <%= featured.model %></h3>
<p>$<%= featured.price %></p>
<a href="/vehicle/<%= featured.id %>">View Details</a>
</div>
<% } %>

</div>
<section class="developer">

<div class="container dev-box">

<img src="/images/kwota.jpeg" alt="Developer Photo" class="dev-photo">

<div class="dev-text">
<h2>About the Developer</h2>

<p>
Hi, I'm Kwota. I built this Used Car Dealership web application using
Node.js, Express, PostgreSQL, and EJS. The system allows administrators
to manage vehicle inventory, upload car images, and display listings
for customers to browse. Now, to add a new vehicle, click on admin and use 
this (admin@email.com & admin123) to login. Then you can add a new vehicle 
and upload an image of the vehicle.
</p>

</div>

</div>

</section>

</body>
<footer class="footer">
  <div class="container">

<p>© 2026 Kwota Used Cars</p>
<p>Quality vehicles at affordable prices</p>

  </div>
</footer>

</html>
