
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include("partials/navbar") %>
<div class="container">

<img src="<%= car.image %>" style="width:400px">

<h1><%= car.year %> <%= car.make %> <%= car.model %></h1>
<p>Price: $<%= car.price %></p>

<a href="/inventory">Back</a>

</div>
<%- include("partials/footer") %>
</body>
</html>
